<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beessoft.dyyd"
    android:installLocation="auto"
    android:largeHeap="true">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <application
        android:name=".LocationApplication"
        android:icon="@drawable/dyyd_icon"
        android:label="@string/app_name"
        android:theme="@style/MyActionBarTheme"
        tools:replace="android:icon,android:theme">

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XnstOzNoi695azCiU5ZeD8ut" />

        <!-- android:hardwareAccelerated = "false" -->
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check.CheckInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_checkin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".check.CheckOutActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_checkout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".check.VisitReachActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_reach"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".check.VisitLeaveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_leave"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".check.CheckQueryActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_checkquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.NewCheckQueryActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_checkquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check.CheckQueryDetailActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_checkquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check.MapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check.QueryMapActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_checkquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check.CollectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_collect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check.AskLeaveActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_askleave"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check.AskLeaveQueryActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_askleavequery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check.QueryMapListActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_querymaplist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.MyWorkActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_mywork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.MyMileageActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_mymileage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mymeans.ChangePasswordActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_changepassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.AskLeaveApproveListActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_askleaveapprove"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.AskLeaveApproveActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_askleaveapprove"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.TodoListActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_todo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.TodoActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_todo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.WorkLocationActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.VisitQueryListActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_visitquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.VisitQueryListDetailActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_visitquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.VisitQueryActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_visitquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShareActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_share"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dailywork.CheckApproveListActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_checkapprove"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.CheckApproveActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_checkapprove"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.PhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_photo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dailywork.PhotoQueryListActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_photoquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.PhotoQueryListDetailActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_photoquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dailywork.PhotoQueryActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_photoquery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".check.CustomerActivity"
            android:icon="@drawable/top_logo"
            android:label="客户搜索"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dailywork.NoteActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/title_activity_note"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dailywork.NoteAddActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/title_activity_note_add"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dailywork.NoteAddrActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/title_activity_note_addr"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dailywork.NoteQueryActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/title_activity_note_query"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dailywork.NoteQueryDetailActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/title_activity_note_query_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dailywork.NoteDealActivity"
            android:icon="@drawable/top_logo"
            android:label="@string/title_activity_note_deal"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/top_logo"
            android:label="@string/activity_notice"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".DialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".dailywork.PhotoImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <receiver android:name=".utils.AlarmReceiver">
            <intent-filter>
                <action android:name="Test" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.MemoAlarmReceiver">
            <intent-filter>
                <action android:name="Memo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <!-- Polling Service -->
        <service android:name=".utils.MemoAlarmService">
            <intent-filter>
                <action android:name=".service.MemoAlarmService" />
            </intent-filter>
        </service>

        <!-- 此处com.getui.demo.GtPushReceiver，需要替换成开发者自己的BroadcastReceiver文件全名-->
        <receiver
            android:name=".receiver.GtPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>


    </application>

</manifest>